Host 10.230.230.18
    KexAlgorithms +diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1

Host 10.230.230.17
    KexAlgorithms +diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1

Host 10.230.230.1
    KexAlgorithms +diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1

Host 10.230.230.12
    KexAlgorithms +diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1

Host 10.230.230.11
    KexAlgorithms +diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1
 
